expenses/Old_App_WebReferences/com/domyexpenses/www/teamfound.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addErrorReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="employeeid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="browser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="page" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stacktrace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="form" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addErrorReportResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="addErrorReportSoapIn">
    <wsdl:part name="parameters" element="tns:addErrorReport" />
  </wsdl:message>
  <wsdl:message name="addErrorReportSoapOut">
    <wsdl:part name="parameters" element="tns:addErrorReportResponse" />
  </wsdl:message>
  <wsdl:portType name="teamfoundSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addErrorReport">
      <wsdl:input message="tns:addErrorReportSoapIn" />
      <wsdl:output message="tns:addErrorReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="teamfoundSoap" type="tns:teamfoundSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addErrorReport">
      <soap:operation soapAction="http://tempuri.org/addErrorReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="teamfoundSoap12" type="tns:teamfoundSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addErrorReport">
      <soap12:operation soapAction="http://tempuri.org/addErrorReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="teamfound">
    <wsdl:port name="teamfoundSoap" binding="tns:teamfoundSoap">
      <soap:address location="http://www.domyexpenses.com:8088/teamfound.asmx" />
    </wsdl:port>
    <wsdl:port name="teamfoundSoap12" binding="tns:teamfoundSoap12">
      <soap12:address location="http://www.domyexpenses.com:8088/teamfound.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>