Spend Management/Web References/tfsintegrator/svcErrors.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="logError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="employeeid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="page" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stacktrace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="browserobject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vardump" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errormsg" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="datestamp" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="tfsid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logErrorResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="logErrorSoapIn">
    <wsdl:part name="parameters" element="tns:logError" />
  </wsdl:message>
  <wsdl:message name="logErrorSoapOut">
    <wsdl:part name="parameters" element="tns:logErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="svcErrorsSoap">
    <wsdl:operation name="logError">
      <wsdl:input message="tns:logErrorSoapIn" />
      <wsdl:output message="tns:logErrorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="svcErrorsSoap" type="tns:svcErrorsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logError">
      <soap:operation soapAction="http://tempuri.org/logError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="svcErrorsSoap12" type="tns:svcErrorsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logError">
      <soap12:operation soapAction="http://tempuri.org/logError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="svcErrors">
    <wsdl:port name="svcErrorsSoap" binding="tns:svcErrorsSoap">
      <soap:address location="http://localhost:50685/svcErrors.asmx" />
    </wsdl:port>
    <wsdl:port name="svcErrorsSoap12" binding="tns:svcErrorsSoap12">
      <soap12:address location="http://localhost:50685/svcErrors.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>