DutyOfCareAPI/Service References/DutyOfCareLicenceCheckApi/QuickCheck3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/wcfQuickCheckAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfQuickCheckAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://testapi.licencecheck.co.uk/QuickCheck.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfEntitlementInformationCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntitlementInformationCode" nillable="true" type="tns:EntitlementInformationCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntitlementInformationCode" nillable="true" type="tns:ArrayOfEntitlementInformationCode" />
  <xs:complexType name="EntitlementInformationCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Restrictions" nillable="true" type="tns:ArrayOfStoredRestriction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntitlementInformationCode" nillable="true" type="tns:EntitlementInformationCode" />
  <xs:complexType name="ArrayOfStoredRestriction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredRestriction" nillable="true" type="tns:StoredRestriction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredRestriction" nillable="true" type="tns:ArrayOfStoredRestriction" />
  <xs:complexType name="StoredRestriction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entitlement" nillable="true" type="tns:StoredEntitlement" />
      <xs:element minOccurs="0" name="EntitlementInformationCode" nillable="true" type="tns:EntitlementInformationCode" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredRestriction" nillable="true" type="tns:StoredRestriction" />
  <xs:complexType name="StoredEntitlement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Licence" nillable="true" type="tns:StoredLicence" />
      <xs:element minOccurs="0" name="LicenceEntitlementsCategory" nillable="true" type="tns:LicenceEntitlementsCategory" />
      <xs:element minOccurs="0" name="Restrictions" nillable="true" type="tns:ArrayOfStoredRestriction" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredEntitlement" nillable="true" type="tns:StoredEntitlement" />
  <xs:complexType name="StoredLicence">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Driver" nillable="true" type="tns:StoredDriver" />
      <xs:element minOccurs="0" name="DriverNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endorsements" nillable="true" type="tns:ArrayOfStoredEndorsement" />
      <xs:element minOccurs="0" name="EnquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnquiryGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entitlements" nillable="true" type="tns:ArrayOfStoredEntitlement" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IssueNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastCheckJson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenceCategory" nillable="true" type="tns:LicenceCategory" />
      <xs:element minOccurs="0" name="LicenceStatusCode" nillable="true" type="tns:LicenceStatusCode" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredLicence" nillable="true" type="tns:StoredLicence" />
  <xs:complexType name="StoredDriver">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AccountCompany" nillable="true" type="tns:AccountCompany" />
      <xs:element minOccurs="0" name="ApplicationReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Archived" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ArchivedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreditUsages" nillable="true" type="tns:ArrayOfCreditUsage" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DriverCheckStatus" nillable="true" type="tns:DriverCheckStatus" />
      <xs:element minOccurs="0" name="DriverNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EConsents" nillable="true" type="tns:ArrayOfEConsent" />
      <xs:element minOccurs="0" name="EIDVs" nillable="true" type="tns:ArrayOfEIDV" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="tns:Gender" />
      <xs:element minOccurs="0" name="GivenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastCheckJson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Licences" nillable="true" type="tns:ArrayOfStoredLicence" />
      <xs:element minOccurs="0" name="Mandates" nillable="true" type="tns:ArrayOfMandate" />
      <xs:element minOccurs="0" name="SecurityCode" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredDriver" nillable="true" type="tns:StoredDriver" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountCompanies" nillable="true" type="tns:ArrayOfAccountCompany" />
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllowBusinessRules" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="AutoCheckLicence" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConsentType" nillable="true" type="tns:ConsentType" />
      <xs:element minOccurs="0" name="ContactEmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactTelephoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditPool" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DemoMode" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExternalCreditManagement" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LicenceNumber" type="ser:guid" />
      <xs:element minOccurs="0" name="MandateIncrement" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="tns:Mode" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortalLink" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PortalMACode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceIncrementor" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SMSEnabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendConsentEmail" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="StoredDrivers" nillable="true" type="tns:ArrayOfStoredDriver" />
      <xs:element minOccurs="0" name="Usages" nillable="true" type="tns:ArrayOfUsage" />
      <xs:element minOccurs="0" name="VDLCredits" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleLookups" nillable="true" type="tns:ArrayOfVehicleLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfAccountCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountCompany" nillable="true" type="tns:AccountCompany" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountCompany" nillable="true" type="tns:ArrayOfAccountCompany" />
  <xs:complexType name="AccountCompany">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AccountContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdministrationLevel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CanCreateAdminAccounts" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreditPurchases" nillable="true" type="tns:ArrayOfCreditPurchase" />
      <xs:element minOccurs="0" name="CreditUsages" nillable="true" type="tns:ArrayOfCreditUsage" />
      <xs:element minOccurs="0" name="CreditsTakenOnDQ3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentTarrif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeletedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeletedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastMandateReference" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="LegalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenceID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Mandates" nillable="true" type="tns:ArrayOfMandate" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentCompany" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalTown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoredDrivers" nillable="true" type="tns:ArrayOfStoredDriver" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseParentCompanyCredits" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="VATNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountCompany" nillable="true" type="tns:AccountCompany" />
  <xs:complexType name="ArrayOfCreditPurchase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditPurchase" nillable="true" type="tns:CreditPurchase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditPurchase" nillable="true" type="tns:ArrayOfCreditPurchase" />
  <xs:complexType name="CreditPurchase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCompany" nillable="true" type="tns:AccountCompany" />
      <xs:element minOccurs="0" name="Credits" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaseDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditPurchase" nillable="true" type="tns:CreditPurchase" />
  <xs:complexType name="ArrayOfCreditUsage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditUsage" nillable="true" type="tns:CreditUsage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditUsage" nillable="true" type="tns:ArrayOfCreditUsage" />
  <xs:complexType name="CreditUsage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCompany" nillable="true" type="tns:AccountCompany" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OnBehalfOf" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Originator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpendDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StoredDriver" nillable="true" type="tns:StoredDriver" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditUsage" nillable="true" type="tns:CreditUsage" />
  <xs:complexType name="ArrayOfMandate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mandate" nillable="true" type="tns:Mandate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMandate" nillable="true" type="tns:ArrayOfMandate" />
  <xs:complexType name="Mandate">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCompany" nillable="true" type="tns:AccountCompany" />
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPC" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CPCNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBlank" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="DAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DAddress3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DPostalTown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DPostcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DriverNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expires" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasMismatch" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Invalidated" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LCApproved" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LCApprovedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MandateReference" type="xs:long" />
      <xs:element minOccurs="0" name="MandateStatusHistories" nillable="true" type="tns:ArrayOfMandateStatusHistory" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatingCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalTown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoredDriver" nillable="true" type="tns:StoredDriver" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tacho" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TachoNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mandate" nillable="true" type="tns:Mandate" />
  <xs:complexType name="ArrayOfMandateStatusHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MandateStatusHistory" nillable="true" type="tns:MandateStatusHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMandateStatusHistory" nillable="true" type="tns:ArrayOfMandateStatusHistory" />
  <xs:complexType name="MandateStatusHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Mandate" nillable="true" type="tns:Mandate" />
      <xs:element minOccurs="0" name="MandateStatus" nillable="true" type="tns:MandateStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MandateStatusHistory" nillable="true" type="tns:MandateStatusHistory" />
  <xs:complexType name="MandateStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MandateStatusHistories" nillable="true" type="tns:ArrayOfMandateStatusHistory" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MandateStatus" nillable="true" type="tns:MandateStatus" />
  <xs:complexType name="ArrayOfStoredDriver">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredDriver" nillable="true" type="tns:StoredDriver" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredDriver" nillable="true" type="tns:ArrayOfStoredDriver" />
  <xs:complexType name="ConsentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accounts" nillable="true" type="tns:ArrayOfAccount" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsentType" nillable="true" type="tns:ConsentType" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="Mode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accounts" nillable="true" type="tns:ArrayOfAccount" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mode1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mode" nillable="true" type="tns:Mode" />
  <xs:complexType name="ArrayOfUsage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usage" nillable="true" type="tns:Usage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsage" nillable="true" type="tns:ArrayOfUsage" />
  <xs:complexType name="Usage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="DVLAReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DriverNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IssueCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usage" nillable="true" type="tns:Usage" />
  <xs:complexType name="ArrayOfVehicleLookup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleLookup" nillable="true" type="tns:VehicleLookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleLookup" nillable="true" type="tns:ArrayOfVehicleLookup" />
  <xs:complexType name="VehicleLookup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="SpendDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="VRM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleLookup" nillable="true" type="tns:VehicleLookup" />
  <xs:complexType name="DriverCheckStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StoredDrivers" nillable="true" type="tns:ArrayOfStoredDriver" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriverCheckStatus" nillable="true" type="tns:DriverCheckStatus" />
  <xs:complexType name="ArrayOfEConsent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EConsent" nillable="true" type="tns:EConsent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEConsent" nillable="true" type="tns:ArrayOfEConsent" />
  <xs:complexType name="EConsent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPC" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CPCNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsentExpires" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ConsentGiven" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateConsentGiven" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEmailSent" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatePinSent" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatePinValidated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateResponsed" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expires" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Forenames" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="tns:Gender" />
      <xs:element minOccurs="0" name="GeneratedPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Indentifier" type="ser:guid" />
      <xs:element minOccurs="0" name="Invalidated" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LicenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptedOut" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OptedOutDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OptedOutReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalTown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoredDriver" nillable="true" type="tns:StoredDriver" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tacho" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TachoNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YourReference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EConsent" nillable="true" type="tns:EConsent" />
  <xs:complexType name="Gender">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Drivers" nillable="true" type="tns:ArrayOfStoredDriver" />
      <xs:element minOccurs="0" name="EConsents" nillable="true" type="tns:ArrayOfEConsent" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfEIDV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EIDV" nillable="true" type="tns:EIDV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEIDV" nillable="true" type="tns:ArrayOfEIDV" />
  <xs:complexType name="EIDV">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressPass" type="xs:boolean" />
      <xs:element minOccurs="0" name="AutoCheckDQ3" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConsentDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ConsentGranted" type="xs:boolean" />
      <xs:element minOccurs="0" name="DateOfBirthPass" type="xs:boolean" />
      <xs:element minOccurs="0" name="DriverNumberPass" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstnamePass" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IdentityVerificationTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdentityVerificationTransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Live" type="xs:boolean" />
      <xs:element minOccurs="0" name="OverallPass" type="xs:boolean" />
      <xs:element minOccurs="0" name="SexPass" type="xs:boolean" />
      <xs:element minOccurs="0" name="StoredDriver" nillable="true" type="tns:StoredDriver" />
      <xs:element minOccurs="0" name="SurnamePass" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EIDV" nillable="true" type="tns:EIDV" />
  <xs:complexType name="ArrayOfStoredLicence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredLicence" nillable="true" type="tns:StoredLicence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredLicence" nillable="true" type="tns:ArrayOfStoredLicence" />
  <xs:complexType name="ArrayOfStoredEndorsement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredEndorsement" nillable="true" type="tns:StoredEndorsement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredEndorsement" nillable="true" type="tns:ArrayOfStoredEndorsement" />
  <xs:complexType name="StoredEndorsement">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConvictionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DisqualificationEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndorsementOffenceCode" nillable="true" type="tns:EndorsementOffenceCode" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsDisqualified" type="xs:boolean" />
      <xs:element minOccurs="0" name="Licence" nillable="true" type="tns:StoredLicence" />
      <xs:element minOccurs="0" name="NoOfPoints" type="xs:int" />
      <xs:element minOccurs="0" name="OffenceDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredEndorsement" nillable="true" type="tns:StoredEndorsement" />
  <xs:complexType name="EndorsementOffenceCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endorsements" nillable="true" type="tns:ArrayOfStoredEndorsement" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndorsementOffenceCode" nillable="true" type="tns:EndorsementOffenceCode" />
  <xs:complexType name="ArrayOfStoredEntitlement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredEntitlement" nillable="true" type="tns:StoredEntitlement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredEntitlement" nillable="true" type="tns:ArrayOfStoredEntitlement" />
  <xs:complexType name="LicenceCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LicenceEntitlementsCategories" nillable="true" type="tns:ArrayOfLicenceEntitlementsCategory" />
      <xs:element minOccurs="0" name="Licences" nillable="true" type="tns:ArrayOfStoredLicence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LicenceCategory" nillable="true" type="tns:LicenceCategory" />
  <xs:complexType name="ArrayOfLicenceEntitlementsCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LicenceEntitlementsCategory" nillable="true" type="tns:LicenceEntitlementsCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLicenceEntitlementsCategory" nillable="true" type="tns:ArrayOfLicenceEntitlementsCategory" />
  <xs:complexType name="LicenceEntitlementsCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LicenceCategory" nillable="true" type="tns:LicenceCategory" />
      <xs:element minOccurs="0" name="StoredEntitlements" nillable="true" type="tns:ArrayOfStoredEntitlement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LicenceEntitlementsCategory" nillable="true" type="tns:LicenceEntitlementsCategory" />
  <xs:complexType name="LicenceStatusCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Licences" nillable="true" type="tns:ArrayOfStoredLicence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LicenceStatusCode" nillable="true" type="tns:LicenceStatusCode" />
  <xs:complexType name="ArrayOfLicenceCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LicenceCategory" nillable="true" type="tns:LicenceCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLicenceCategory" nillable="true" type="tns:ArrayOfLicenceCategory" />
  <xs:complexType name="ArrayOfEndorsementOffenceCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EndorsementOffenceCode" nillable="true" type="tns:EndorsementOffenceCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEndorsementOffenceCode" nillable="true" type="tns:ArrayOfEndorsementOffenceCode" />
  <xs:complexType name="ArrayOfMessageCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageCode" nillable="true" type="tns:MessageCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageCode" nillable="true" type="tns:ArrayOfMessageCode" />
  <xs:complexType name="MessageCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorResponseMessages" nillable="true" type="tns:ArrayOfErrorResponseMessage" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageCode" nillable="true" type="tns:MessageCode" />
  <xs:complexType name="ArrayOfErrorResponseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorResponseMessage" nillable="true" type="tns:ErrorResponseMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorResponseMessage" nillable="true" type="tns:ArrayOfErrorResponseMessage" />
  <xs:complexType name="ErrorResponseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="tns:MessageCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorResponseMessage" nillable="true" type="tns:ErrorResponseMessage" />
</xs:schema>