EsrGo2FromNhsWcfLibrary/Service References/EsrNhsHubCommands/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EsrNhsHubCommands" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="EsrNhsHubEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EsrGo2FromNhsWcfLibrary.Enum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEsrNhsHubCommands_FlagFileForNewTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:FlagFileForNewTransfer" />
  </wsdl:message>
  <wsdl:message name="IEsrNhsHubCommands_FlagFileForNewTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:FlagFileForNewTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IEsrNhsHubCommands_SuccessfullyProcessedFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SuccessfullyProcessedFile" />
  </wsdl:message>
  <wsdl:message name="IEsrNhsHubCommands_SuccessfullyProcessedFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuccessfullyProcessedFileResponse" />
  </wsdl:message>
  <wsdl:message name="IEsrNhsHubCommands_FailedToProcessFile_InputMessage">
    <wsdl:part name="parameters" element="tns:FailedToProcessFile" />
  </wsdl:message>
  <wsdl:message name="IEsrNhsHubCommands_FailedToProcessFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:FailedToProcessFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IEsrNhsHubCommands">
    <wsdl:operation name="FlagFileForNewTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IEsrNhsHubCommands/FlagFileForNewTransfer" message="tns:IEsrNhsHubCommands_FlagFileForNewTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEsrNhsHubCommands/FlagFileForNewTransferResponse" message="tns:IEsrNhsHubCommands_FlagFileForNewTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuccessfullyProcessedFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IEsrNhsHubCommands/SuccessfullyProcessedFile" message="tns:IEsrNhsHubCommands_SuccessfullyProcessedFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEsrNhsHubCommands/SuccessfullyProcessedFileResponse" message="tns:IEsrNhsHubCommands_SuccessfullyProcessedFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FailedToProcessFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IEsrNhsHubCommands/FailedToProcessFile" message="tns:IEsrNhsHubCommands_FailedToProcessFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEsrNhsHubCommands/FailedToProcessFileResponse" message="tns:IEsrNhsHubCommands_FailedToProcessFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EsrNhsHubEndpoint" type="tns:IEsrNhsHubCommands">
    <wsp:PolicyReference URI="#EsrNhsHubEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="FlagFileForNewTransfer">
      <soap12:operation soapAction="http://tempuri.org/IEsrNhsHubCommands/FlagFileForNewTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuccessfullyProcessedFile">
      <soap12:operation soapAction="http://tempuri.org/IEsrNhsHubCommands/SuccessfullyProcessedFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FailedToProcessFile">
      <soap12:operation soapAction="http://tempuri.org/IEsrNhsHubCommands/FailedToProcessFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EsrNhsHubCommands">
    <wsdl:port name="EsrNhsHubEndpoint" binding="tns:EsrNhsHubEndpoint">
      <soap12:address location="net.tcp://paulglt.nibley.local:15002/EsrNhsHubCommands" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://paulglt.nibley.local:15002/EsrNhsHubCommands</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/PAULGLT.nibley.local</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>