EsrFileProcessingService/Service References/ApiService/ApiRpc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://software-europe.com/ApiRpc/2013/02" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApiRpc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://software-europe.com/ApiRpc/2013/02" location="http://localhost/ApiRpc/ApiRpc.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="rpc" type="i0:IApiRpc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateEsrPersonRecords">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/UpdateEsrPersonRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPersons">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/GetAllPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEsrLocationRecords">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/UpdateEsrLocationRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEsrLocationRecord">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/GetEsrLocationRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEsrOrganisations">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/UpdateEsrOrganisations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEsrOrganisation">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/GetEsrOrganisation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEsrPositions">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/UpdateEsrPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEsrPosition">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/GetEsrPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountFromVpd">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/GetAccountFromVpd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEsrTrust">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/UpdateEsrTrust" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateImportLog">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/CreateImportLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateImportLog">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/UpdateImportLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateImportHistory">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/CreateImportHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateImportHistory">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/UpdateImportHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEntity">
      <soap:operation soapAction="http://software-europe.com/ApiRpc/2013/02/IApiRpc/DeleteEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApiRpc">
    <wsdl:port name="rpc" binding="tns:rpc">
      <soap:address location="http://localhost/ApiRpc/ApiRpc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>