Spend Management/Service References/EsrNhsHub/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FlagFileForNewTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileId" type="xs:int" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlagFileForNewTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlagFileForNewTransferResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuccessfullyProcessedFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileId" type="xs:int" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuccessfullyProcessedFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuccessfullyProcessedFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FailedToProcessFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileId" type="xs:int" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FailedToProcessFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FailedToProcessFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>