PublicAPI/Connected Services/VDLService/VDLService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VDLService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vdl.licencecheck.co.uk/wcfVehicleLookup.VDLService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vdl.licencecheck.co.uk/wcfVehicleLookup.VDLService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vdl.licencecheck.co.uk/wcfVehicleLookup.VDLService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfVehicleLookup.Classes" />
      <xsd:import schemaLocation="http://vdl.licencecheck.co.uk/wcfVehicleLookup.VDLService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVDLService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IVDLService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IVDLService_GetVehicleData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleData" />
  </wsdl:message>
  <wsdl:message name="IVDLService_GetVehicleData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleDataResponse" />
  </wsdl:message>
  <wsdl:message name="IVDLService_GetAdvancedVehicleData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvancedVehicleData" />
  </wsdl:message>
  <wsdl:message name="IVDLService_GetAdvancedVehicleData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvancedVehicleDataResponse" />
  </wsdl:message>
  <wsdl:message name="IVDLService_GetVehicleMakes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleMakes" />
  </wsdl:message>
  <wsdl:message name="IVDLService_GetVehicleMakes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleMakesResponse" />
  </wsdl:message>
  <wsdl:portType name="IVDLService">
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IVDLService/ValidateUser" message="tns:IVDLService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVDLService/ValidateUserResponse" message="tns:IVDLService_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleData">
      <wsdl:input wsaw:Action="http://tempuri.org/IVDLService/GetVehicleData" message="tns:IVDLService_GetVehicleData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVDLService/GetVehicleDataResponse" message="tns:IVDLService_GetVehicleData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdvancedVehicleData">
      <wsdl:input wsaw:Action="http://tempuri.org/IVDLService/GetAdvancedVehicleData" message="tns:IVDLService_GetAdvancedVehicleData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVDLService/GetAdvancedVehicleDataResponse" message="tns:IVDLService_GetAdvancedVehicleData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleMakes">
      <wsdl:input wsaw:Action="http://tempuri.org/IVDLService/GetVehicleMakes" message="tns:IVDLService_GetVehicleMakes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVDLService/GetVehicleMakesResponse" message="tns:IVDLService_GetVehicleMakes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVDLService" type="tns:IVDLService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/IVDLService/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleData">
      <soap:operation soapAction="http://tempuri.org/IVDLService/GetVehicleData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdvancedVehicleData">
      <soap:operation soapAction="http://tempuri.org/IVDLService/GetAdvancedVehicleData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleMakes">
      <soap:operation soapAction="http://tempuri.org/IVDLService/GetVehicleMakes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VDLService">
    <wsdl:port name="BasicHttpBinding_IVDLService" binding="tns:BasicHttpBinding_IVDLService">
      <soap:address location="http://vdl.licencecheck.co.uk/wcfVehicleLookup.VDLService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>