PublicAPI/Connected Services/VDLService/wcfVehicleLookup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vdl.licencecheck.co.uk/wcfVehicleLookup.VDLService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfVehicleLookup.Classes" />
  <xs:import schemaLocation="http://vdl.licencecheck.co.uk/wcfVehicleLookup.VDLService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcfVehicleLookup.Classes" minOccurs="0" name="ValidateUserResult" nillable="true" type="q1:StatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleReg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleMake" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcfVehicleLookup.Classes" minOccurs="0" name="GetVehicleDataResult" nillable="true" type="q2:VehicleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvancedVehicleData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleReg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvancedVehicleDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcfVehicleLookup.Classes" minOccurs="0" name="GetAdvancedVehicleDataResult" nillable="true" type="q3:AdvancedVehicleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleMakes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleMakesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetVehicleMakesResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>